In [1]:
import pandas as pd
import statistics

In [2]:
actData = pd.read_csv("kasterenActData.csv", header = 0)
actData['Start time'] = pd.to_datetime(actData['Start time'], format='%d/%m/%Y %H:%M')
actData['End time'] = pd.to_datetime(actData['End time'], format='%d/%m/%Y %H:%M')
actData

             Start time            End time  ID
0   2008-02-25 00:22:00 2008-02-25 09:34:00  10
1   2008-02-25 09:37:00 2008-02-25 09:38:00   4
2   2008-02-25 09:49:00 2008-02-25 09:53:00  13
3   2008-02-25 10:02:00 2008-02-25 10:12:00   5
4   2008-02-25 10:19:00 2008-02-25 16:55:00   1
..                  ...                 ...  ..
240 2008-03-21 09:42:00 2008-03-21 15:51:00   1
241 2008-03-21 15:51:00 2008-03-21 15:53:00   4
242 2008-03-21 17:03:00 2008-03-21 18:05:00  10
243 2008-03-21 18:24:00 2008-03-21 18:25:00   4
244 2008-03-21 19:10:00 2008-03-23 19:04:00   1

[245 rows x 3 columns]

In [3]:

for index, row in actData.iterrows():
    duration = row["End time"] - row["Start time"]
    duration_in_s = duration.total_seconds()
    actData.at[index, "Duration"] = duration_in_s

In [4]:
# Mean in seconds for each activity
actDataG = actData.groupby("ID")["Duration"].mean()
actDataG

ID
1     39820.588235
4       106.842105
5       571.304348
10    29150.000000
13      207.000000
15     2052.000000
17       45.000000
Name: Duration, dtype: float64

In [8]:
senseData = pd.read_csv("log_labeled.csv", header = 0)

In [10]:
# senseDataG = senseData.groupby(["Case_ID", "Activity_ID"])
senseDataG = senseData.groupby("Activity_ID")

dd = {
1: 'leave house',
4: 'use toilet',
5: 'take shower',
10:'go to bed',
13:'prepare Breakfast',
15:'prepare Dinner',
17:'get drink'}

dd = {
1: [] ,
4: [] ,
5: [] ,
10:[] ,
13:[] ,
17:[] }

i = 0
for index, group in senseDataG:
    dd.get(group.iloc[0]["Label_ID"]).append(len(group))
    if(len(group)==91):
        print(index, group)

for label, freq in dd.items():
    print(label, " Mean: ", statistics.mean(freq), " Max: ", max(freq), " Min: ", min(freq))

1  Mean:  2.652173913043478  Max:  31  Min:  1
4  Mean:  3.775  Max:  7  Min:  1
5  Mean:  2.9523809523809526  Max:  7  Min:  1
10  Mean:  2.142857142857143  Max:  4  Min:  1
13  Mean:  6.7  Max:  12  Min:  3
17  Mean:  3.3333333333333335  Max:  5  Min:  2